<div class="regDiv">
    <form [formGroup]="fullNameControl">
            <label for="name"><small>Name</small></label>
            <input type="text" formControlName="name" name="name"/>
            <div class="alert alert-danger"
            *ngIf="fullNameControl.controls['name'].invalid && fullNameControl.controls['name'].touched">
            Name is required.
            </div>


            <label><small>Surname</small></label>
            <input type="text" formControlName="surname"><br>
            <div class="alert alert-danger"
            *ngIf="fullNameControl.controls['surname'].invalid && fullNameControl.controls['surname'].touched">
            Surname is required.
            </div>

            <label><small>Email Address</small></label>
            <input type="email" formControlName="mail"><br>
            <div class="alert alert-danger"
            *ngIf="fullNameControl.controls['mail'].invalid && fullNameControl.controls['mail'].touched">
            Wrong email.
             </div>

            <label><small>Password</small></label>
            <input type="password" formControlName="password"><br>

            <label><small>Repeat Password</small></label>
            <input type="password" formControlName="repeatPassword"><br>

            <input type="submit" value="Registration" (click)="onSubmit()" class="btn btn-warning"><br>
            <br>
            <button routerLink="../login-component" class="btn btn-default">To LogIn Page</button>
    </form>
</div>