input{
    display: flex;
    margin: 5px;
}

.regDiv{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    border-style: double;

    width: 406px;
    max-width: 406px;
    margin: 0 auto;
}